.purchase {
    border: rgb(243, 235, 235) 3px ridge;
    text-align: center;
    margin: 2% 25%;
    width: 50%;
    padding: 2% 0px;
}

.purchase_item {
    color: rgb(81, 81, 81);
    font-size: 20px;
}